# LLM's
OPENAI_API_KEY=<open-ai-key>

# LANGSMITH
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<langsmith-ai-key>
LANGSMITH_PROJECT="<project-name>"

# Tavily
TAVILY_API_KEY=<tavily-api-key>